.form {
  width: 100vw;
  height: 100vh;
  background-color: #f5f6f7;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}
.form .container {
  margin: 0;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 50px);
  overflow-y: auto !important;
}
.form .date-form {
  overflow-y: hidden !important;
  height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  padding-bottom: 2rem;
}
.form .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0 1rem 0 0;
  white-space: nowrap;

  width: 100%;
  height: 50px;
  box-shadow: none;
  border-bottom: 1px solid #00000033;
  background-color: white;

  position: fixed;
}
.form .header .btn-back {
  background-color: transparent;
  width: 50px;
  height: 50px;
  box-shadow: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form .header h1 {
  margin: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  /* or 18px */

  color: #686e7f;

  text-align: center;
}

.form .categories-title {
  font-style: normal;
  font-weight: 850;
  font-size: 16px;
  line-height: 100%;
  /* or 16px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;

  /* Grey */

  color: #686e7f;
  margin: 1rem 0;
}
.form .categories {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}
.form .categories .category-item {
  transition: all ease 0.3s;
  width: 150px;
  height: 150px;

  /* Blanco */

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  text-align: center;
  letter-spacing: 0.01em;
  white-space: nowrap;
  /* Grey */
  color: #686e7f;
}
.form .categories .selected {
  border: 1.5px solid #ff7400;
  box-shadow: 0px 4px 4px rgba(255, 116, 0, 0.25);
  border-radius: 10px;
}

.form .upload-photos-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
}

.form .btn-add-photos {
  padding: 10px 110px;
  gap: 10px;

  width: 323px;
  height: 47px;

  background: #ff7400;
  box-shadow: 0px 14px 15px rgba(0, 0, 0, 0.4) !important;
  border-radius: 5px;
}

.form .uploaded-photos-message p {
  width: 236px;
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 15px;
  /* or 107% */

  letter-spacing: 0.1px;

  /* Grey */

  color: #686e7f;
}
.form .uploaded-photos-message h1 {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 850;
  font-size: 16px;
  line-height: 15px;
  /* identical to box height, or 94% */

  letter-spacing: 0.1px;

  /* Grey2 */

  color: #8d92a0;
}

.form .last-form-message {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 100%;
  /* or 14px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  /* Grey */

  color: #686e7f;
}

.text-success {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 850;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  letter-spacing: 0.01em;

  /* verde dcto */

  color: #52ba52 !important;
}

small,
.text-small {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 350;
  font-size: 9px;
  line-height: 100%;
  /* identical to box height, or 9px */

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  letter-spacing: 0.01em;

  /* Grey */

  color: #686e7f;

  text-align: center;
}
.text-small {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.last-card h1 {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 850;
  font-size: 12px;
  line-height: 100%;
  /* identical to box height, or 12px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  /* Grey */

  color: #686e7f;
}
.last-card p {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 350;
  font-size: 10px;
  line-height: 100%;
  /* identical to box height, or 12px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  /* Grey */

  color: #686e7f;
}

.form .input-field textarea {
  transition: all ease 0.3s;
  height: 70vh;
}

.form .input-field textarea:focus {
  height: 35vh;
}

.form .price-motopuntos {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.form .price-motopuntos .title {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 850;
  font-size: 12px;
  line-height: 100%;
  /* identical to box height, or 12px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  /* Grey */

  color: #686e7f;
}
.form .price-motopuntos .value {
  width: fit-content;
  background: #ecedf1;
  border-radius: 30px;
  padding: 0.1rem 1rem;
  font-family: "Rajdhani", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;

  /* Grey dark */

  color: #ff7400;
}

.form .sales-type {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 350;
  font-size: 12px;
  line-height: 100%;
  /* or 12px */

  letter-spacing: 0.01em;

  /* Grey */

  color: #686e7f;
}
.form .sales-type strong {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 850;
  font-size: 12px;
  line-height: 100%;
  /* or 12px */

  letter-spacing: 0.01em;

  /* Grey */

  color: #686e7f;
}

.form .promo-top .card-body {
  width: 200px;
  height: 83px;
}
.form .promo-top .card-promo-top {
  display: flex;
  gap: 0rem;
  border-radius: 5px;
}
.form .promo-top .card-promo-top img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}
.form .promo-top .card-promo-top .small {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;
}
.form .promo-top .card-promo-top .small span {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 350;
  font-size: 8px;
  line-height: 12px;
  color: currentColor;
}
.form .promo-top .card-promo-top .small .title {
  font-weight: 500;
  font-size: 10px;
}

.form .input-promo-top textarea {
  height: 20vh;
}
.form .input-promo-top textarea:focus {
  height: 10vh;
}

.form [type="color"] {
  width: 47px;
  height: 45px;
  border-radius: 5px;
}
