.splash {
  width: 100vw;
  height: 100vh;

  background: rgb(245, 79, 44);
  background: linear-gradient(
    180deg,
    rgba(245, 79, 44, 1) 0%,
    rgba(245, 187, 38, 1) 100%
  );
}
.splash .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: transparent;
}
.splash .header a {
  background-color: transparent;
  width: 50px;
  height: 50px;
  box-shadow: none;

  display: flex;
  align-items: center;
  justify-content: center;
}
.splash .header h1 {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 850;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  letter-spacing: 0.01em;
  margin: 0;
  color: #ffffff;
}
.splash .container p {
  font-family: "Avenir Book";
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 22px;
  text-align: center;

  /* Blanco */

  color: rgb(255, 255, 255);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.splash .container h1 {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 850;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */

  text-align: center;

  /* Blanco */

  color: #ffffff !important;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Inside auto layout */
}

.splash .container a {
  padding: 10px 120px;
  gap: 10px;

  width: 312px;
  height: 48px;
  /* Blanco */

  background: #ffffff !important;
  color: #ff7400 !important;
  border: none !important;

  box-shadow: 0px 14px 15px rgba(0, 0, 0, 0.4) !important;
  border-radius: 5px;

  font-family: "Avenir";
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;

  text-transform: capitalize;
}

.photos .header {
  box-shadow: none;
}

.splash .promos-top-text {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 350;
  font-size: 16px !important;
  line-height: 18px;
  /* or 112% */

  text-align: center;

  /* Blanco */

  color: #ffffff;

  text-shadow: none !important;
}

.splash .promos-top-text strong {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 850;
  font-size: 16px;
  line-height: 18px;
  /* or 112% */

  text-align: center;

  /* Blanco */

  color: #ffffff;
}

.splash .btn {
  text-transform: none !important;
}
.splash .container .btn-outline-light {
  background-color: transparent !important;
  color: white !important;
  border: 3px solid white !important;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  box-shadow: none !important;
}

.promos-top a {
  height: 54px !important;
}
