* {
  font-family: "Avenir";
  font-size: 16px;
}
html,
body {
  position: relative;

  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
}
/* @media { */
.safari10 {
  color: #0000ff !important;
  background-color: #cccccc;
}
/* } */

p {
  font-family: "Avenir Book";
}

strong,
b {
  font-weight: 900;
}
.index-content {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.btn {
  font-weight: bold;
  border-radius: 5px;
  text-transform: none;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
a {
  font-family: "Avenir";
  width: fit-content;
  height: fit-content;
  line-height: 1rem;
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  margin: 0;
}
.btn-primary {
  background-color: #ff7400 !important;
  border: none !important;
  color: white !important;
}

.text-primary {
  color: #ff7400 !important;
}
.btn-secondary {
  /* background-color: rgba(0, 0, 0, 0.2) !important; */
  border: none !important;
  color: white !important;
}
.bg-secondary {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.btn-primary:disabled {
  background-color: rgb(255, 116, 0, 0.5) !important;
  border: none !important;
  color: white !important;
}
.btn-small {
  height: 22px;

  font-style: normal;
  font-weight: 850;
  font-size: 12px;
  line-height: 100%;
}
.input-field {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
}

.floating-actions {
  transition: all ease 0.4s;

  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;

  background: transparent;
  width: 100vw;
  height: calc(100vh + 277px);

  pointer-events: none;

  display: flex;
  align-items: end;
  justify-content: center;

  /* display: none; */
}

.floating-actions-open {
  display: flex;

  pointer-events: all;
  background: rgba(0, 0, 0, 0.4);
  height: calc(100vh);
}
.floating-action-buttons {
  transition: all ease 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 17px;
  width: 360px;
  height: 277px;

  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
  background-color: white;
  box-shadow: 0px 14px 15px rgba(0, 0, 0, 0.4) !important;
  pointer-events: all;
}

.floating-action-buttons .btn {
  width: 100%;
  background-color: transparent;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  display: grid;
  grid-template-columns: 33px auto;
  align-items: center;
  justify-content: flex-start !important;
  gap: 2rem;
  text-align: start !important;
  /* Grey */

  color: #686e7f;

  box-shadow: none;
}
.floating-action-buttons .drawer {
  width: 98px;
  height: 8px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #ffffff;
  border-radius: 30px;
  cursor: pointer;
}

.photo-slider {
  width: 100%;
  height: fit-content;
}
.photo-slider .slider-content {
  display: flex;
  gap: 2.5rem;
  padding-top: 3rem;
  overflow-x: auto !important;
}
.photo-slider .slider-content .slide {
  position: relative;
}
.photo-slider .slider-content .slide .btn-closer {
  position: absolute;
  z-index: 2;
  top: -22.52px;
  right: -22.52px;

  width: 45.45px;
  height: 45.45px;
  border-radius: 50px;
  filter: drop-shadow(0px 9.09091px 9.09091px rgba(0, 0, 0, 0.25));
  background-color: #fff !important;
}
.photo-slider .slider-content .slide img {
  object-fit: cover;
}

.floating-loader {
  transition: all ease 0.4s;

  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: calc(100vh);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
}
.floating-loader-open {
  opacity: 1;
  pointer-events: all;
}
.card {
  border: none;
  box-shadow: none;
  border-radius: 10px;
}
