<article class="splash photos">
  <nav class="header p-3 px-0">
    <a
      class="btn btn-back rounded-circle border-0"
      ng-href="#!/dates-form"
    >
      <img src="images/back.svg" alt="back" />
    </a>

    <h1>Promos top</h1>
    <div class="px-5"></div>
  </nav>
  <section
    class="container pt-3 pb-5 d-flex flex-column align-items-center gap-3"
  >
    <img src="../../images/promos-top-splash.png" alt="splash-promos-top" />
    <p class="promos-top-text text-light text-center mt-3">
      ¡Las publicaciones de nominadas como <br />
      <strong>Promos top</strong> son aquellas que tienen un
      <br />
      descuento increible y por ello tienen mayor exposición!
    </p>

    <a class="btn w-100" ng-href="#!/splash-promos-top-second">Continuar</a>
  </section>
</article>
