<article class="form">
  <nav class="header p-3">
    <a class="btn btn-back rounded-circle border-0" ng-href="#!/quantity-form">
      <img src="images/back-black.svg" alt="back" />
    </a>

    <a class="btn btn-primary btn-small" ng-href="#!/splash-promos-top">
      Continuar
    </a>
  </nav>
  <section class="date-form h-auto pb-5 d-flex flex-column align-items-center">
    <h1 class="categories-title m-0 mt-3 p-3">
      Selecciona el periodo de tiempo que estara
      <br />
      tu publicacion vigente
    </h1>
    <p class="last-form-message p-3 pb-1">
      *Aqui puedes programar la fecha del inicio de tu publicacion y la fecha de
      terminacion. Una vez tu publicación salga de este periodo pasara al estado
      de inactivo en la tienda de tu prefil.
    </p>

    <div
      class="card card-body rounded-0 w-100 d-flex flex-column align-items-center gap-2 h-auto"
    >
      <span class="fw-bold fs-6">Selecciona la fecha y hora de inicio</span>
      <div class="d-flex align-items-center gap-5">
        <div
          class="d-flex flex-column align-items-center justify-content-center gap-3"
        >
          <div class="fw-bold fs-6 d-flex align-items-center gap-1">
            <span>Dia</span>
            <img src="../../images/arrow_right.svg" alt="arrow" />
          </div>
          1
        </div>
        <div
          class="d-flex flex-column align-items-center justify-content-center gap-3"
        >
          <div class="fw-bold fs-6 d-flex align-items-center gap-1">
            <span>Mes</span>
            <img src="../../images/arrow_right.svg" alt="arrow" />
          </div>
          Septiembre
        </div>
        <div
          class="d-flex flex-column align-items-center justify-content-center gap-3"
        >
          <div class="fw-bold fs-6 d-flex align-items-center gap-1">
            <span>Año</span>
            <img src="../../images/arrow_right.svg" alt="arrow" />
          </div>
          2023
        </div>
      </div>
      <div class="d-flex align-items-center gap-3">
        <div class="d-flex align-items-center gap-1"><span>00:00</span></div>

        <div class="fw-bold fs-6 d-flex align-items-center gap-1">
          <span>Horas</span>
          <img src="../../images/arrow_right.svg" alt="arrow" />
        </div>
      </div>
    </div>

    <div
      class="card card-body rounded-0 w-100 d-flex flex-column align-items-center gap-2 h-auto"
    >
      <span class="fw-bold fs-6">Selecciona la fecha y hora de inicio</span>
      <div class="d-flex align-items-center gap-5">
        <div
          class="d-flex flex-column align-items-center justify-content-center gap-3"
        >
          <div class="fw-bold fs-6 d-flex align-items-center gap-1">
            <span>Dia</span>
            <img src="../../images/arrow_right.svg" alt="arrow" />
          </div>
          25
        </div>
        <div
          class="d-flex flex-column align-items-center justify-content-center gap-3"
        >
          <div class="fw-bold fs-6 d-flex align-items-center gap-1">
            <span>Mes</span>
            <img src="../../images/arrow_right.svg" alt="arrow" />
          </div>
          Noviembre
        </div>
        <div
          class="d-flex flex-column align-items-center justify-content-center gap-3"
        >
          <div class="fw-bold fs-6 d-flex align-items-center gap-1">
            <span>Año</span>
            <img src="../../images/arrow_right.svg" alt="arrow" />
          </div>
          2023
        </div>
      </div>
      <div class="d-flex align-items-center gap-3">
        <div class="d-flex align-items-center gap-1"><span>00:00</span></div>

        <div class="fw-bold fs-6 d-flex align-items-center gap-1">
          <span>Horas</span>
          <img src="../../images/arrow_right.svg" alt="arrow" />
        </div>
      </div>
    </div>
  </section>
</article>
