<article class="form">
  <nav class="header">
    <a
      class="btn btn-back rounded-circle border-0"
      ng-href="#!/new-product-splash"
    >
      <img src="images/back-black.svg" alt="back" />
    </a>
    <h1>
      Cual es el título de tu <br />
      publicación
    </h1>
    <a
      class="btn btn-primary btn-small"
      ng-disabled="!title.length"
      ng-href="#!/description-form"
    >
      Continuar
    </a>
  </nav>
  <section
    class="container pt-3 pb-5 d-flex flex-column align-items-center gap-3"
  >
    <div class="input-field w-100">
      <textarea
        id="textarea1"
        class="materialize-textarea w-100"
        rows="10"
        maxlength="60"
        ng-value="title"
        ng-keyup="setTitle($event.target.value)"
        placeholder="Ej: Llanta kenda 90/90 R19"
      ></textarea>
      <div
        class="helper-text d-flex align-items-center justify-content-between"
        data-error="wrong"
        data-success="right"
      >
        <span>Puedes incluir 60 caracteres en el título</span>
        <span>{{title.length||0}}/60</span>
      </div>
    </div>
  </section>
</article>
