<article class="splash">
  <nav class="header p-3 px-0">
    <a class="btn btn-back rounded-circle border-0 pt-2" ng-href="#!/">
      <img src="images/back.svg" alt="back" />
    </a>
  </nav>
  <section
    class="container pt-3 pb-5 d-flex flex-column align-items-center gap-3"
  >
    <img src="images/main-splash.svg" alt="main-splash" />
    <h1 class="text-light text-center">
      Cuentanos como es tu producto, asi <br />
      todos lo podran encontrar
    </h1>
    <p class="text-light text-center mt-3">
      Selecciona una categoria, detalla las caracteristicas <br />
      del producto o servicio para que <br />
      todos sepan que vendes.
    </p>

    <a class="btn w-100" ng-href="#!/title-form">Continuar</a>
  </section>
</article>
