<article class="form">
  <nav class="header p-3">
    <a
      class="btn btn-back rounded-circle border-0"
      ng-href="#!/uploaded-photos"
    >
      <img src="images/back-black.svg" alt="back" />
    </a>
    <h1>
      Cual es el título de tu <br />
      publicación
    </h1>
    <a class="btn btn-primary btn-small" ng-disabled="!isEnabledContinue()">
      Continuar
    </a>
  </nav>
  <section
    class="container pt-3 pb-5 d-flex flex-column align-items-center gap-3"
  >
    <h1 class="categories-title">Asigna un valor a tu producto o servicio</h1>
    <p class="last-form-message">
      *El valor de todos los productos o servicios ofrecidos en MotoSmart, están
      representados en MotoPuntos más pesos colombianos COP o solo MotoPuntos.
    </p>
    <div
      class="toggle-button d-flex align-items-center gap-1 bg-secondary p-1 rounded"
    >
      <button
        class="btn"
        ng-class="{'btn-primary': toggle,'btn-secondary': !toggle,}"
        ng-click="changeToggle()"
      >
        Dinero + MotoPuntos
      </button>
      <button
        class="btn"
        ng-class="{'btn-primary': !toggle,'btn-secondary': toggle,}"
        ng-click="changeToggle()"
      >
        Solo MotoPuntos
      </button>
    </div>
    <div class="card w-100">
      <div class="card-body">
        <div class="input-field">
          <input
            id="price"
            type="number"
            class="validate"
            maxlength="14"
            max="99999999999999"
            min="0"
            ng-keyup="setPrice($event)"
          />
          <label for="price">$ Ingresa el valor sin descuentos </label>
          <span class="helper-text text-end"
            >{{getFirstValueLength()||0}}/14</span
          >
        </div>
      </div>
    </div>
    <div class="card w-100" ng-if="toggle">
      <div class="card-body">
        <div class="input-field">
          <input
            id="percent"
            type="number"
            class="validate"
            maxlength="2"
            min="0"
            max="99"
            ng-keyup="setPercent($event)"
          />
          <label for="percent">
            <span class="text-success">% Off</span> Ingresa el porcentaje de
            decuento
          </label>
          <span class="helper-text text-end">{{getPercentLength()||0}}/2</span>
        </div>
        <small
          >El valor de descuento se vera reflejado en la cantidad de
          MotoPuntos</small
        >
      </div>
    </div>
    <div class="card last-card w-100" ng-if="toggle">
      <div class="card-body">
        <h1 class="text-center mt-0 mb-4 w-100 d-flex justify-content-center">
          Visualización de los valores ingresados
        </h1>
        <div
          class="d-flex align-items-center gap-1 justify-content-between text-nowrap mb-3"
        >
          <p class="m-0">Precio sin descuento:</p>
          <div class="d-flex align-items-center gap-1 flex-wrap" ng-if="price">
            <span class="text-muted">COP: <del> {{price | number}} </del></span>
            <span class="text-success fw-bold">-{{percent | number}}%</span>
          </div>
        </div>
        <div
          class="d-flex align-items-center gap-1 justify-content-between text-nowrap"
        >
          <p class="m-0">Precio mas MotoPuntos:</p>
          <div
            class="d-flex align-items-center gap-1 fw-bold flex-wrap"
            ng-if="percent > 0"
          >
            <span class="text-dark"
              >COP: {{getValueMotoPuntos() | number}}
            </span>
            <span>+</span>
            <span class="text-primary">{{getPercentX100() | number}}</span>
            <img src="images/mp.svg" alt="mp" />
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
