<article class="splash photos promos-top">
  <nav class="header p-3 px-0">
    <a
      class="btn btn-back rounded-circle border-0"
      ng-href="#!/categories-form"
    >
      <img src="images/back.svg" alt="back" />
    </a>

    <h1>Promos top</h1>
    <div class="px-5"></div>
  </nav>
  <section
    class="container pt-3 pb-5 d-flex flex-column align-items-center gap-3 mt-4"
  >
    <img src="../images/promo-top-example.png" alt="splash-promos-top" />
    <p class="promos-top-text text-light text-center mt-3">
      Para que tu publicación clasifique como
      <strong>promo top</strong>, debe tener un descuento mayor al 30% o estar
      canjeable solo con MotoPuntos
    </p>

    <a class="btn btn-light w-100 text-nowrap mb-5" ng-href="#!/promo-top-title"
      >Incluirme como promo top</a
    >

    <p class="promos-top-text text-light text-center mt-5">
      No tengo un descuento mayor al 30% ni mi publicacion es canjeable solo con
      MotoPuntos
    </p>

    <a class="btn btn-outline-light w-100" ng-href="#!/promo-top-title"
      >Continuar</a
    >
  </section>
</article>
