<article class="main photos">
  <nav class="header p-3 px-0">
    <a class="btn btn-back rounded-circle border-0" ng-href="#!/">
      <img src="../images/back.svg" alt="back" />
    </a>
  </nav>
  <section
    class="container pt-3 pb-5 d-flex flex-column align-items-center gap-3"
  >
    <img src="../images/splash-photos.svg" alt="splash-photos" />
    <h1 class="text-light text-center">
      Sube buenas fotos de tus productos
      <br />
      o servicios
    </h1>
    <p class="text-light text-center mt-3">
      Asegurate de que tu primera foto este en fondo <br> blanco puro como la imagen de arriba 👆
    </p>

    <a class="btn w-100" ng-href="#!/upload-photos">Continuar</a>
  </section>
  
</article>
