<article class="form">
  <nav class="header p-3">
    <a class="btn btn-back rounded-circle border-0" ng-href="#!/">
      <img src="../images/back-black.svg" alt="back" />
    </a>
    <h1>
      Cual es el título de tu <br />
      publicación
    </h1>
    <a
      class="btn btn-primary btn-small"
      ng-disabled="!titleForm.title.length"
      ng-href="#!/description-form"
    >
      Continuar
    </a>
  </nav>
  <section
    class="container pt-3 pb-5 d-flex flex-column align-items-center gap-3"
  >
    <div class="input-field h-100 w-100">
      <textarea
        id="textarea1"
        class="materialize-textarea w-100 h-100"
        rows="10"
        ng-model="titleForm.title"
        placeholder="Ej: Llanta kenda 90/90 R19"
      ></textarea>
      <div
        class="helper-text d-flex align-items-center justify-content-between"
        data-error="wrong"
        data-success="right"
      >
        <span>Puedes incluir 60 caracteres en el título</span>
        <span>{{titleForm.title.length||0}}/60</span>
      </div>
    </div>
  </section>
</article>
