<article class="form">
  <nav class="header p-3">
    <a
      class="btn btn-back rounded-circle border-0"
      ng-href="#!/description-form"
    >
      <img src="../images/back-black.svg" alt="back" />
    </a>
    <a
      class="btn btn-primary btn-small"
      ng-disabled="!selectedCategories.length"
      ng-href="#!/splash-upload-photos"
    >
      Continuar
    </a>
  </nav>
  <section
    class="container pt-3 pb-5 d-flex flex-column align-items-center justify-content-around gap-3"
  >
    <div class="d-flex flex-column align-items-center justify-content-center">
      <img src="../images/upload-photo-empty.svg" alt="upload-photo-empty" />

      <h1 class="upload-photos-title">
        Elige las fotos para tu <br />
        publicación
      </h1>
    </div>

    <button
      class="btn btn-primary btn-add-photos text-nowrap"
      ng-click="openFloatingActionButton()"
    >
      Agregar fotos
    </button>
  </section>
</article>

<article class="floating-actions">
  <section class="floating-action-buttons">
    <div class="drawer" ng-click="openFloatingActionButton()"></div>
    <button class="btn" ng-click="openFile('camera')">
      <img src="../images/icono CAMARA.svg" alt="icono CAMARA" />
      Sacar una foto ahora
    </button>
    <button class="btn" ng-click="openFile('galery')">
      <img src="../images/icono FOTOS.svg" alt="icono FOTOS" />
      Buscar en mi galería
    </button>
  </section>
</article>

<input
  type="file"
  id="inputFileCamera"
  capture="environment"
  accept="image/*"
  hidden
/>
<input
  type="file"
  id="inputFileGallery"
  accept="image/*"
  hidden
/>
